*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aqua;
}
.container h1{
    font-size: 40px;
    background-color: brown;
}
form{
    margin: auto;
    width: 350px;
    text-align: center;
    padding: 10px;
}
input{
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    height: 50px;
}
#btn-resultado{
    font-size: 20px;
    line-height: 20px;
    background-color: black;
    color: aliceblue;
    height: 50px;
    width: 300px;
}
#btn-resultado:hover{
    background-color: rgba(0, 0, 0, 0.74);
    transform: scale(1.1);
    transition: 0.4s;
}
p{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.resultado{
    font-size: 30px;
    font-weight: 600;
}